
<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content  %>
</p>
<p>
  <%= @message.url %>
</p>
<p>
  Created At <%= @message.created_at %>
</p>
<hr/>
<a href="/messages">Back to All Messages</a>




